<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        <a [title]="product.name + ' details'">
            {{product.name}}
        </a>
    </h3>
    <h4>{{product.price}}</h4>
    <p>{{product.description}}</p>
    <button (click)="share()">
        <h4>Share</h4>
    </button>
    <nav>
        <a routerLink="/info">Heroes</a>
      </nav>
    <app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
    <!-- <h2 id="hero"></h2> -->
    <!-- <br> -->
</div>
    